body {
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

.container-overall {
    margin:0;
    width:100vw;
    height:80vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.container-main {
    display:flex;
    justify-content:center
}

.item-github {
    margin-left:0px;
    margin-right:25px;

    transition-property:transform;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s;
}

.item-linkedin {
    margin-left:25px;
    margin-right:25px;

    transition-property:transform;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s;
}

.item-wordpress {
    margin-left:25px;
    margin-right:25px;

    transition-property:transform;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s;
}

.item-email {
    margin-left:25px;
    margin-right:0px;

    transition-property:transform;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s;
}

.header {
    font-size:4rem;
}

.description {
    font-size:2.5rem;
}

/* animations */

.item-github:hover, .item-linkedin:hover, .item-wordpress:hover, .item-email:hover {
    transform:translateY(-8px);
}
