{% extends "base.html" %}
{% block structured_data %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "@id": {{ (canonical_url ~ "#article")|tojson }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ canonical_url|tojson }}
    },
    "url": {{ canonical_url|tojson }},
    "headline": {{ title|tojson }},
    "description": {{ meta_description|tojson }},
    "datePublished": {{ date_published|tojson }},
    "dateModified": {{ date_modified|tojson }},
    "image": "https://gabrielongzm.com/asset/portrait/gong-2.png",
    "author": {
      "@type": "Person",
      "@id": "https://gabrielongzm.com/#person",
      "name": "Gabriel Ong",
      "url": "https://gabrielongzm.com"
    }
  }
  </script>
{% endblock %}
{% block content %}
      <section class="blog-details">
        <h2>{{ title }}</h2>
        <dl>
          <dt>Date</dt>
          <dd>{{ date }}</dd>
        </dl>
      </section>
      <section class="blog-content">
        {{ content }}
      </section>
{% endblock %}
