{% extends "base.html" %}
{% block structured_data %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Review",
    "@id": {{ (canonical_url ~ "#review")|tojson }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ canonical_url|tojson }}
    },
    "url": {{ canonical_url|tojson }},
    "headline": {{ (title ~ " by " ~ author)|tojson }},
    "description": {{ meta_description|tojson }},
    "datePublished": {{ date_published|tojson }},
    "dateModified": {{ date_modified|tojson }},
    "author": {
      "@type": "Person",
      "@id": "https://gabrielongzm.com/#person",
      "name": "Gabriel Ong",
      "url": "https://gabrielongzm.com"
    },
    "itemReviewed": {
      "@type": "Book",
      "name": {{ title|tojson }},
      "author": {{ author|tojson }},
      "isbn": {{ isbn|tojson }}
    },
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": {{ rating|tojson }},
      "bestRating": "5",
      "worstRating": "0"
    }
  }
  </script>
{% endblock %}
{% block content %}
      <section class="book-details">
        <h2>{{ title }}</h2>
        <dl>
          <dt>Author</dt>
          <dd>{{ author }}</dd>
          <dt>ISBN</dt>
          <dd>{{ isbn }}</dd>
          <dt>Category</dt>
          <dd>{{ category }}</dd>
          <dt>Rating</dt>
          <dd>{{ rating }}/5</dd>
          <dt>Date</dt>
          <dd>{{ date }}</dd>
        </dl>
      </section>
      <section class="review-content">
        {{ content }}
      </section>
{% endblock %}
