{% extends "base.html" %}
{% block structured_data %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "@id": {{ (canonical_url ~ "#website")|tojson }},
        "url": {{ canonical_url|tojson }},
        "name": "Gabriel Ong",
        "publisher": {"@id": {{ person_id|tojson }}}
      },
      {
        "@type": "Person",
        "@id": {{ person_id|tojson }},
        "name": "Gabriel Ong",
        "alternateName": "王哲勉",
        "url": {{ canonical_url|tojson }},
        "image": {{ default_image_url|tojson }},
        "mainEntityOfPage": {{ canonical_url|tojson }},
        "jobTitle": "Product-minded Full Stack Engineer",
        "description": {{ meta_description|tojson }},
        "sameAs": [
          "https://github.com/gongahkia",
          "https://www.linkedin.com/in/gabriel-zmong/",
          "https://x.com/gongahkia",
          "https://www.goodreads.com/user/show/198498126-gongahkia"
        ]
      }
    ]
  }
  </script>
{% endblock %}
{% block content %}
<article class="resume-content">
  {{ home_content }}
</article>
{% endblock %}
